<div class="group-name text-center font-weight-bold p-3">
  {{group.title}}
</div>
<div class="info-container d-flex">

  <div class="task p-3 w-50">

    <div class="d-flex justify-content-center">
      <button type="button"
        class="btn btn-primary"
        routerLink="/task/create/{{group.id}}"
      >
        Nova Task
      </button>
    </div>
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let task of tasks"
        class="list-group-item"
      >
        <app-task-element
          [task] = "task"
        ></app-task-element>
      </li>
    </ul>
  </div>
  <div class="w-50">

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>{{nTasks}}</strong> tarefas</li>
      <li class="list-group-item"><strong>{{nTasksMorning}}</strong> tarefas criadas pela manhã.</li>
      <li class="list-group-item">Foram criadas <strong>{{nTasksMonth}}</strong> neste mês.</li>
      <li class="list-group-item"><strong>{{nTasksEvening}}</strong> tarefas criadas pela tarde.</li>
      <li class="list-group-item"><strong>{{nTasksNight}}</strong> tarefas foram criadas pela noite.</li>
    </ul>
  </div>
</div>
