<div class="p-5">
  <h2>Adicionando nova tarefa ao grupo <strong>{{group.title}}</strong></h2>
  <form>
    <div class="form-group">
      <label for="taskTitle">Nome da nova tarefa</label>
      <input
        [(ngModel)] = "task.title"
        class="form-control"
        id="groupTitle"
        type="text"
        name="taskTitle"
      >
    </div>
    <ngb-alert *ngIf="showMessage" [type]="messageType">
      {{message}}
    </ngb-alert>
    <button
    type="submit"
    class="btn btn-primary"
    (click)="createTask()"
  >
    Criar
  </button>
  </form>
</div>
