<div class="p-5">
  <form>
    <div class="form-group">
      <label for="groupTitle">Nome do novo grupo</label>
      <input
        [(ngModel)] = "group.title"
        class="form-control"
        id="groupTitle"
        type="text"
        name="groupTitle">
    </div>
    <ngb-alert *ngIf="showMessage" [type]="messageType">
      {{message}}
    </ngb-alert>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="createGroup()"
    >
      Criar
    </button>
  </form>
</div>
